@layer base {
    :root {
        /* colors */
        --surface-0: #252525;
        --surface-1: #181818;
        --surface: var(--surface-1);
        --surface-2: #121212;
        --surface-3: #050505;
        --content: #ffffff;

        /* fonts */
        --sans: "Open Sans", sans-serif;
    }

    html {
        box-sizing: border-box;
    }
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    body {
        font-family: var(--sans);
        line-height: 1.5;
        background-color: var(--surface);
        color: var(--content);
        padding: 0;
        margin: 0;
    }

    button {
        width: 12rem;
        height: 2rem;
        background-color: var(--surface-3);
        border-radius: 0.5rem;
        color: var(--white);
        font-size: 0.8rem;
    }
    button:hover {
        cursor: pointer;
        background-color: var(--surface-2);
    }

    input {
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--surface-0);
        color: var(--content);
        outline: none;
    }

    input[type="checkbox"] {
        appearance: none;
        min-width: 28px;
        max-width: 28px;
        background: var(--surface-0);
        border: 1px solid var(--content);
        border-radius: 8px;
        display: grid;
        place-content: center;
    }
    input[type="checkbox"]:hover {
        cursor: pointer;
    }
    input[type="checkbox"]::before {
        content: "";
        width: 14px;
        height: 14px;
        background-color: var(--content);
        border-radius: 4px;
        display: none;
    }
    input[type="checkbox"]:checked::before {
        display: inherit;
    }
}

.popup {
    width: 40rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.top-header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--surface-2);
    border-bottom: solid 1px var(--content);
}

.top-header h1 {
    width: 100%;
    font-size: 1.2rem;
    color: var(--white);
}

.main-content {
    min-height: 4rem;
    padding: 0.5rem 1rem;
}

.headers-container {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.header-entry {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.header-entry input {
    width: 100%;
}

.header-entry button {
    min-width: 40px;
    max-width: 40px;
    margin-inline-start: auto;
}
